<div class="control-section">
  <div *ngIf="showChooser" style="display:flex; justify-content:space-between">
  <div class="e-mastertext" >
    Select column name to toggle visibility
  </div>
  
    
  <button type="button" style="height:20px;width:60px" (click)="closeP('showChooser')">X</button>
  </div>
  <ejs-toolbar
    class="e-gridlist"
    *ngIf="showChooser"
    (clicked)="onClicked($event.originalEvent)"
  >
    <e-items>
      <e-item text="Task ID"></e-item>
      <e-item text="Task Name"></e-item>
      <e-item text="Start Date"></e-item>
      <e-item text="End Date"></e-item>
      <e-item text="Duration"></e-item>
      <e-item text="Progress"></e-item>
      <e-item text="Priority"></e-item>
    </e-items>
  </ejs-toolbar>
  <div *ngIf="sorting" class="col-lg-3 property-section">
  <div class="property-panel-section">
    <div style="display:flex; justify-content:space-between">
    <div class="property-panel-header">Multi-sort Properties </div>
    
  <button type="button" style="height:20px;width:60px" (click)="closeP('sorting')">X</button>
    </div>  
   <table id="property" class="property-panel-table" title="Properties" style="width: 100%">
          <tr>
              <td style="width: 70%">
                  <div>
                      Task Name
                  </div>
              </td>
              <td style="width: 30%;padding:10px 10px 10px 0px">
                  <div class="col-md-6">
                      <ejs-checkbox #taskName (change)="onClick1($event)" ></ejs-checkbox>
                  </div>
              </td>
          </tr>
          <tr>
              <td style="width: 70%">
                  <div>
                      Duration
                  </div>
              </td>
              <td style="width: 30%;padding:10px 10px 10px 0px">
                  <div class="col-md-6">
                          <ejs-checkbox  #duration (change)="onClick2($event)" ></ejs-checkbox>
                      </div>
              </td>
          </tr>
          <tr>
              <td style="width: 70%">
                  <div>
                      Start Date
                  </div>
              </td>
              <td style="width: 30%; padding:10px 10px 10px 0px">
                  <div class="col-md-6">
                          <ejs-checkbox  #startDate  (change)="onClick3($event)" ></ejs-checkbox>
                      </div>
              </td>
          </tr>
          <tr>
              <td style="width: 70%">
                  <div>
                      End Date
                  </div>
              </td>
              <td style="width: 30%; padding:10px 10px 10px 0px">
                  <div class="col-md-6">
                          <ejs-checkbox  #endDate  (change)="onClick4($event)" ></ejs-checkbox>
                      </div>
              </td>
          </tr>
          <tr>
          <td style="width: 70%">
              <div>
                 Priority
              </div>
          </td>
          <td style="width: 30%; padding:10px 10px 10px 0px">
              <div class="col-md-6">
                      <ejs-checkbox  #priority  (change)="onClick5($event)" ></ejs-checkbox>
                  </div>
          </td>
      </tr>  <tr>
      <td style="width: 70%">
          <div>
             Progress
          </div>
      </td>
      <td style="width: 30%; padding:10px 10px 10px 0px">
          <div class="col-md-6">
                  <ejs-checkbox  #progress  (change)="onClick6($event)" ></ejs-checkbox>
              </div>
      </td>
  </tr>
      </table>
  </div>
</div>
<div *ngIf="filtering">
  <br />
  <button  type="button" style="height:20px;width:160px" (click)="closeP('filtering')">Close FilterBar</button>
  <br />
</div>
  <!-- <button #btn1 ejs-button cssClass="e-flat" [isToggle]="true"  (click)="clickChange()">Change Header Text</button> -->

  <!-- <button ej-button class="e-flat" (click)="delete()">Delete</button>
<button
ejs-button
cssclass="DefaultButton"
(click)="onAddRecordNoParams($event)"
>
Add Child Record no Parameters
</button>
<button
ejs-button
class="DefaultButton"
(click)="onAddRecordWithParams($event)"
>
Add Child Record with Parameters
</button> -->
  <!-- <input type="button" value="Update" id="manipulate" (click)="update()" /> -->
  <!-- <br />  (created)="created($event)" (beforePaste)="beforePaste($event)"
  -->
  <!-- <button
ejs-button
class="DefaultButton"
(click)="addColumn()"
>
addColumn
</button> -->

  <ejs-treegrid
    #treegrid
    [dataSource]="data"
    [treeColumnIndex]="1"

    [allowFiltering]="filtering"
    [allowSorting]="sorting"
    [sortSettings]='sortSettings' 
    [allowResizing]="true"
    [allowTextWrap]="textWrap"
    allowReordering="true"
    [allowRowDragAndDrop]="true"
    [editSettings]="editSettings"
    [allowSelection]="true"
    [selectionSettings]="selectionOptions"
    [toolbar]="toolbar"
    [pageSettings]="pageSettings"
    [filterSettings]="filterSettings"
    height="100vh"
    width="100vw"
    idMapping="TaskID"
    parentIdMapping="ParentItem"
    hasChildMapping="isParent"
    [contextMenuItems]="contextMenuItems"
    (contextMenuOpen)="contextMenuOpen($event)"
    (contextMenuClick)="contextMenuClick($event)"
    (dataBound)="dataBound()"
    (toolbarClick)="toolabarclickHandler($event)"
    (actionBegin)="actionBegin($event)"
    (actionComplete)="actionComplete($event)"
    [columns]="treeColumns"
    (rowSelected)="rowSelected($event)"
  >
  <!-- [allowFiltering]="filtering"
    [allowSorting]="sorting"
    [sortSettings]='sortSettings' 
    [allowResizing]="true"
    [allowTextWrap]="textWrap"
    allowReordering="true"
    [allowRowDragAndDrop]="true"
    [editSettings]="editSettings"
    [allowSelection]="true"
    [selectionSettings]="selectionOptions"
    [toolbar]="toolbar"
    [pageSettings]="pageSettings"
    [filterSettings]="filterSettings"
    height="100vh"
    width="100vw"
    idMapping="TaskID"
    parentIdMapping="ParentItem"
    hasChildMapping="isParent"
    [contextMenuItems]="contextMenuItems"
    (contextMenuOpen)="contextMenuOpen($event)"
    (contextMenuClick)="contextMenuClick($event)"
    (dataBound)="dataBound()"
    (toolbarClick)="toolabarclickHandler($event)"
    (actionBegin)="actionBegin($event)"
    (actionComplete)="actionComplete($event)"
    [columns]="treeColumns"
    (rowSelected)="rowSelected($event)" -->
    <!-- [enableHover]="false" -->

    <!-- (rowSelected)="rowSelected($event)" -->

    <!-- <e-columns>
    <e-column
      [isPrimaryKey]="true"
      field="TaskID"
      headerText="Task ID"
      width="80"
      textAlign="Right"
      editType="numericedit"
      type="number"
      [customAttributes]='customAttributes'
    ></e-column>
    <e-column
      field="TaskName"
      editType="stringedit"
      [validationRules]="stringRule"
      headerText="Task Name"
      width="210"
      type="string"
      
      [customAttributes]='customAttributes'
    ></e-column>
    <e-column
      field="StartDate"
      headerText="Start Date"
      width="100"
      format="yMd"
      textAlign="Right"
      editType="datepickeredit"
      [validationRules]="dateRule"
      type="date"
      [customAttributes]='customAttributes'
    ></e-column>
    <e-column
      field="EndDate"
      headerText="End Date"
      width="100"
      format="yMd"
      textAlign="Right"
      editType="datepickeredit"
      [validationRules]="dateRule"
      type="date"
      [customAttributes]='customAttributes'
    ></e-column>
    <e-column
      field="Duration"
      headerText="Duration"
      width="80"
      textAlign="Right"
      editType="numericedit"
      [filterBarTemplate]="templateOptions"
      [validationRules]="progressRule"
      type="number"
      [customAttributes]='customAttributes'
    ></e-column>
    <e-column
      field="Progress"
      headerText="Progress"
      width="80"
      textAlign="Right"
      editType="stringedit"
      [validationRules]="stringRule"
      type="string"
      [customAttributes]='customAttributes'
    ></e-column>
    <e-column
      field="Priority"
      headerText="Priority"
      width="90"
      editType="dropdownedit"
      [validationRules]="stringRule"
      type="string"
      [customAttributes]='customAttributes'
    ></e-column>
  </e-columns> -->
  </ejs-treegrid>
  <div *ngIf="showEditColumn"
  >
  <ejs-dialog
    id="dialog"
    #ejDialog
    [animationSettings]="animationSettings"
    header="Edit Column"
    [target]="targetElement"
    width="300px"
    [showCloseIcon]="showCloseIcon"
    >
    <ng-template #content>
      <form id="template_driven" #userForm="ngForm" novalidate>
        <div class="form-group" style="padding-top: 11px;">
          <div class="e-float-input">
            <input
              type="text"
              name="ColName"
              required
              [(ngModel)]="ColName" 
            />
            <span class="e-float-line"></span>
            <label class="e-float-text e-label-top" for="name">Name</label>
            <!-- <div *ngIf="nameval.invalid && (nameval.dirty || nameval.touched)">
              <div class="e-error" *ngIf="nameval.errors.required">
                * Enter Column name
              </div>
            </div> -->
          </div>
        </div>

        <div class="form-group" style="padding-top: 11px;">
          <div class="e-float-input">
            <ejs-dropdownlist
              #dropdown2
              id="element"
              [dataSource]="d2data"
              [fields]="fields"
              placeholder="Type"
              name="ColType"
              [(ngModel)]="ColType" 
            ></ejs-dropdownlist>
            <!-- <span class="e-float-line"></span>
            <label class="e-float-text e-label-top" for="email">Data-Type</label> -->
          </div>
        </div>

        <!-- <div class="form-group" style="padding-top: 11px;">
          <div class="e-float-input">
            <input
              type="text"
              id="email"
              #emailval="ngModel"
              name="email"
              required
              ngModel
            />
            <span class="e-float-line"></span>
            <label class="e-float-text e-label-top" for="email"
              >Default-Value</label
            >
          </div>
        </div> -->

        <!-- <div class="form-group" style="padding-top: 11px;">
          <div class="e-float-input">
            <input
              type="text"
              id="email"
              #emailval="ngModel"
              name="email"
              required
              ngModel
            />
            <span class="e-float-line"></span>
            <label class="e-float-text e-label-top" for="email"
              >Minimum-Column-Width</label
            >
          </div>
        </div> -->
        <div class="form-group" style="padding-top: 11px;">
          <div class="e-float-input">
            <ejs-dropdownlist
              #dropdown1
              id="ddlelement"
              [dataSource]="d4data"
              [fields]="fields"
              placeholder="Minimum-Column-Width"
              
              name="ColMinWidth"
              [(ngModel)]="ColMinWidth" 
            ></ejs-dropdownlist>

            <!-- <span class="e-float-line"></span>
    <label class="e-float-text e-label-top" for="email">Font-size</label> -->
          </div>
        </div>

        <div class="form-group" style="padding-top: 11px;">
          <div style="display:flex; justify-content: space-between;">
            <span class="e-float-text e-label-top">Font-color</span>

            <input
              ejs-colorpicker
              type="color"
              id="element"
              value="#035a"
              (change)="changeFontColor($event)"
              id="colorpicker"
            />
          </div>
        </div>
        <div class="form-group" style="padding-top: 11px;">
          <div style="display:flex; justify-content: space-between;">
            <span class="e-float-text e-label-top">Background-color</span>

            <input
              ejs-colorpicker
              type="color"
              id="element"
              value="035a"
              (change)="changeBackground($event)"
              id="colorpicker"
            />
          </div>
        </div>
        <div class="form-group" style="padding-top: 11px;">
          <div class="e-float-input">
            <ejs-dropdownlist
              #dropdown2
              id="element"
              [dataSource]="d3data"
              [fields]="fields"
              name="ColAlign"
              [(ngModel)]="ColAlign" 
              placeholder='Alignment'
            ></ejs-dropdownlist>
          </div>
        </div>
        <div class="form-group" style="padding-top: 11px;">
          <div style="display:flex; justify-content: space-between;">
            <span class="e-float-text e-label-top" for="email">Text-wrap</span>

            <ejs-checkbox
              labelPosition="Before"
              [checked]="false"
              name="ColChecked"
              [(ngModel)]="ColChecked" 
            ></ejs-checkbox>
          </div>
        </div>
      </form>
    </ng-template>
    <ng-template #footerTemplate>
      <div>
        <button
          id="Button1"
          class="e-control e-btn e-primary e-flat"
          (click)="saveColumn($event)"
          data-ripple="true"
        >
          <span class="e-btn-icon e-icons e-ok-icon e-icon-left"></span>Save
        </button>
        <button
          id="Button2"
          class="e-control e-btn e-flat"
          (click)="btnclick($event)"
          data-ripple="true"
        >
          <span class="e-btn-icon e-icons e-close-icon e-icon-left"></span
          >Cancel
        </button>
      </div>
    </ng-template>
  </ejs-dialog>
  </div>
</div>
<!-- <div class="col-lg-3 property-section" *ngIf="Properties">
  <div class="property-panel-section">
    <div class="property-panel-header">Properties</div>
    <table
      id="property"
      class="property-panel-table"
      title="Properties"
      style="width: 100%"
    >
      <tr style="height: 50px">
        <td style="width: 20%">
          <div style="padding-top: 10px">Font Size</div>
        </td>
        <td style="width: 80%;padding-right: 10px">
          <div>
            <ejs-dropdownlist
              #dropdown1
              id="ddlelement"
              width="120px"
              [dataSource]="d4data"
              [fields]="fields"
              value="5px"
              (change)="changeFontSize($event)"
            ></ejs-dropdownlist>
          </div>
        </td>
      </tr>
      <tr style="height: 50px">
        <td style="width: 30%">
          <div>Type</div>
        </td>
        <td style="width: 70%;padding: 10px 10px 10px 0px">
          <div>
            <ejs-dropdownlist
              #dropdown2
              id="element"
              width="120px"
              [dataSource]="d2data"
              [fields]="fields"
              value="string"
              (change)="change($event)"
            ></ejs-dropdownlist>
          </div>
        </td>
      </tr>
      <tr style="height: 50px">
        <td style="width: 30%">
          <div>Minimum-Column-Width</div>
        </td>
        <td style="width: 70%;padding: 10px 10px 10px 0px">
          <div>
            <ejs-dropdownlist
              #dropdown2
              id="element"
              width="120px"
              [dataSource]="d4data"
              [fields]="fields"
              value="5"
              (change)="changeMinWidth($event)"
            ></ejs-dropdownlist>
          </div>
        </td>
      </tr>
      <tr style="height: 50px">
        <td style="width: 30%">
          <div>Font-color</div>
        </td>
        <td style="width: 70%;padding: 10px 10px 10px 0px">
          <div>
            <input
              ejs-colorpicker
              type="color"
              id="element"
              value="#035a"
              (change)="changeFontColor($event)"
              id="colorpicker"
            />`
            <!-- <ejs-dropdownlist
          #dropdown2
          id="element"
          width="120px"
          [dataSource]="d5data"
          [fields]="fields"
          value="string"
          (change)="changeBackground($event)"
        ></ejs-dropdownlist> ->
          </div>
        </td>
      </tr>

      <tr style="height: 50px">
        <td style="width: 30%">
          <div>Background-color</div>
        </td>
        <td style="width: 70%;padding: 10px 10px 10px 0px">
          <div>
            <input
              ejs-colorpicker
              type="color"
              id="element"
              value="035a"
              (change)="changeBackground($event)"
              id="colorpicker"
            />`
            <!-- <ejs-dropdownlist
            #dropdown2
            id="element"
            width="120px"
            [dataSource]="d5data"
            [fields]="fields"
            value="string"
            (change)="changeBackground($event)"
          ></ejs-dropdownlist> ->
          </div>
        </td>
      </tr>
      <tr style="height: 50px">
        <td style="width: 30%">
          <div>Alignment</div>
        </td>
        <td style="width: 70%;padding: 10px 10px 10px 0px">
          <div>
            <ejs-dropdownlist
              #dropdown2
              id="element"
              width="120px"
              [dataSource]="d3data"
              [fields]="fields"
              value="Right"
              (change)="changeAlig($event)"
            ></ejs-dropdownlist>
          </div>
        </td>
      </tr>
      <tr style="height: 50px">
        <td style="width: 30%">
          <div>Text-wrap</div>
        </td>
        <td style="width: 70%;padding: 10px 10px 10px 0px">
          <div class="checkbox-control" style="padding-left: 5px">
            <div class="row">
              <ejs-checkbox
                label="Enable autoTextWrap"
                labelPosition="Before"
                [checked]="false"
                (change)="checkboxChange($event)"
              ></ejs-checkbox>
            </div>
          </div>

          <!-- <div>
      <ejs-dropdownlist
        #dropdown2
        id="element"
        width="120px"
        [dataSource]="d2data"
        [fields]="fields"
        value="string"
        (change)="change($event)"
      ></ejs-dropdownlist>
    </div> ->
        </td>
      </tr>
    </table>
    <!-- <ejs-dialog id="reactDialog" #FormDialog width= '450px'
  [showCloseIcon]='false' target='.control-section'>
  <form id="reactive" [formGroup]="form">
      <div class="form-group" style="padding-top: 11px;">
          <div class="e-float-input">
              <input type="text" id="name" name="name" class="required" formControlName="name">
              <span class="e-float-line"></span>
              <label class="e-float-text e-label-top" for="name">Name</label>
          </div>
     
      </div>

      <div class="form-group" style="padding-top: 11px;">
          <div class="e-float-input">
              <input type="text" id="email" name="email" class="required" formControlName="email">
              <span class="e-float-line"></span>
              <label class="e-float-text e-label-top" for="email">Email</label>
          </div>
 
      </div>

      <div class="form-group" style="padding-top: 11px;">
          <div class="e-float-input">
              <input type="number" id="contact" name="contact" class="required" formControlName="contact">
              <span class="e-float-line"></span>
              <label class="e-float-text e-label-top" for="contact">Contact No</label>
          </div>>
      </div>

      <div class="form-group upload-area" style="padding-top: 11px;">
          <div class="e-float-input upload-area">
              <input type="text" id="upload" name="upload" [(ngModel)]="uploadInput" readonly formControlName="upload" class="required">
              <span class="e-float-line"></span>
              <label class="e-float-text e-label-top" for="upload">Choose a file</label>
          </div>
         
      </div>
      <div class="form-group" style="padding-top: 11px;">
        <div class="submitBtn">
          <button class="submit-btn e-btn" id="submit-btn" [disabled]="form.invalid" (click)= "Submit()">Submit</button>
          <div class="desc"><span>*This button is not a submit type and the form submit handled from externally.</span></div>
        </div>
      </div>
  </form>
  </ejs-dialog> ->
  </div>
</div> -->

<!-- <ejs-dialog id="confirmationDialog" #Dialog [buttons]='dlgButtons' [animationSettings]='animationSettings' [header]='formHeader' [showCloseIcon]='showCloseIcon' [content]='contentData'  [target]='target' [width]='width' [visible]="visible" [isModal]="isModal" >
</ejs-dialog>` -->
