<div class="control-section">
  <div *ngIf="showChooser" style="display:flex; justify-content:space-between">
  <div class="e-mastertext" >
    Select column name to toggle visibility
  </div>
  
    
  <button type="button" style="height:20px;width:60px" (click)="closeP('showChooser')">X</button>
  </div>
  <ejs-toolbar
    class="e-gridlist"
    *ngIf="showChooser"
    (clicked)="onClicked($event.originalEvent)"
  >
    <e-items>
      <e-item text="Task ID"></e-item>
      <e-item text="Task Name"></e-item>
      <e-item text="Start Date"></e-item>
      <e-item text="End Date"></e-item>
      <e-item text="Duration"></e-item>
      <e-item text="Progress"></e-item>
      <e-item text="Priority"></e-item>
    </e-items>
  </ejs-toolbar>
  <div *ngIf="sorting" class="col-lg-3 property-section">
  <div class="property-panel-section">
    <div style="display:flex; justify-content:space-between">
    <div class="property-panel-header">Multi-sort Properties </div>
    
  <button type="button" style="height:20px;width:60px" (click)="closeP('sorting')">X</button>
    </div>  
   <table id="property" class="property-panel-table" title="Properties" style="width: 100%">
          <tr>
              <td style="width: 70%">
                  <div>
                      Task Name
                  </div>
              </td>
              <td style="width: 30%;padding:10px 10px 10px 0px">
                  <div class="col-md-6">
                      <ejs-checkbox #taskName (change)="onClick1($event)" ></ejs-checkbox>
                  </div>
              </td>
          </tr>
          <tr>
              <td style="width: 70%">
                  <div>
                      Duration
                  </div>
              </td>
              <td style="width: 30%;padding:10px 10px 10px 0px">
                  <div class="col-md-6">
                          <ejs-checkbox  #duration (change)="onClick2($event)" ></ejs-checkbox>
                      </div>
              </td>
          </tr>
          <tr>
              <td style="width: 70%">
                  <div>
                      Start Date
                  </div>
              </td>
              <td style="width: 30%; padding:10px 10px 10px 0px">
                  <div class="col-md-6">
                          <ejs-checkbox  #startDate  (change)="onClick3($event)" ></ejs-checkbox>
                      </div>
              </td>
          </tr>
          <tr>
              <td style="width: 70%">
                  <div>
                      End Date
                  </div>
              </td>
              <td style="width: 30%; padding:10px 10px 10px 0px">
                  <div class="col-md-6">
                          <ejs-checkbox  #endDate  (change)="onClick4($event)" ></ejs-checkbox>
                      </div>
              </td>
          </tr>
          <tr>
          <td style="width: 70%">
              <div>
                 Priority
              </div>
          </td>
          <td style="width: 30%; padding:10px 10px 10px 0px">
              <div class="col-md-6">
                      <ejs-checkbox  #priority  (change)="onClick5($event)" ></ejs-checkbox>
                  </div>
          </td>
      </tr>  <tr>
      <td style="width: 70%">
          <div>
             Progress
          </div>
      </td>
      <td style="width: 30%; padding:10px 10px 10px 0px">
          <div class="col-md-6">
                  <ejs-checkbox  #progress  (change)="onClick6($event)" ></ejs-checkbox>
              </div>
      </td>
  </tr>
      </table>
  </div>
</div>
<div *ngIf="filtering">
  <br />
  <button  type="button" style="height:20px;width:160px" (click)="closeP('filtering')">Close FilterBar</button>
  <br />
</div>
 
  <ejs-treegrid
    #treegrid
    [dataSource]="data"
    [treeColumnIndex]="1"

    [allowFiltering]="filtering"
    [allowSorting]="sorting"
    [sortSettings]='sortSettings' 
    [allowResizing]="true"
    [allowTextWrap]="textWrap"
    allowReordering="true"
    [allowRowDragAndDrop]="true"
    [editSettings]="editSettings"
    [allowSelection]="true"
    [selectionSettings]="selectionOptions"
    [toolbar]="toolbar"
    [pageSettings]="pageSettings"
    [filterSettings]="filterSettings"
    height="100vh"
    width="100vw"
    idMapping="TaskID"
    parentIdMapping="ParentItem"
    hasChildMapping="isParent"
    [contextMenuItems]="contextMenuItems"
    (contextMenuOpen)="contextMenuOpen($event)"
    (contextMenuClick)="contextMenuClick($event)"
    (dataBound)="dataBound()"
    (toolbarClick)="toolabarclickHandler($event)"
    (actionBegin)="actionBegin($event)"
    (actionComplete)="actionComplete($event)"
    [columns]="treeColumns"
    (rowSelected)="rowSelected($event)"
  >
  </ejs-treegrid>
  <div *ngIf="showEditColumn"
  >
  </div>
</div>

